<li class='mov-gall__item'>
  <article class='card'>
    <img src={{img}} class='card__image' alt={{name}} />
    <div class='card__content'>
      <h2 class='card__name' data-id={{id}}>{{name}}</h2>
      <p class='card__year'>{{year}}</p>
    </div>
    <div class='fav-star'>
      <input
        class='chBox'
        type='checkbox'
        name='fav-star'
        id={{id}}
        aria-label='Add to Favourite List'
      />
      <label aria-hidden='true' for={{id}} class='fav-star__chBox'></label>
      <div aria-hidden='true' class='fav-star__icon'>
      </div>
    </div>
  </article>
</li>